body {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.Header {
  padding-bottom: 50px;
  text-align: center;
}

.Header__logo {
  margin: 0 10%;
  max-width: 750px;
}

.Header__title {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 5em;
  margin-bottom: 0;
}

.Header__intro {
  font-size: 1.5em;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login__eyes {
  width: 100px;
}

.Login__button {
  border: 1px solid #000000;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 2em;
  height: 75px;
  margin: 50px 0;

  /* TODO: cleanup transition */
  transition: all 500ms;
  transition-timing-function: ease-in-out;
}

.Login__button:hover {
  color: #ffffff;
  background: #000000;

  /* TODO: cleanup transition */
  transition: all 500ms;
  transition-timing-function: ease-in-out;
}

.Login__intro {
  margin: 0;
}

.Spinner {
  /* TODO: replace with svg */
  font-size: 3em;
  display: flex;
  justify-content: center;
}

.User {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.User__avatar {
  clip-path: circle(100px at center);
  align-self: center;
}

.User__intro {
  margin: 50px 15% 0 15%;
  text-align: center;
}

/* TODO: Do something with this */
@keyframes Spinner-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
