:root {
  --font-color: #000000;
  --font-color-hover: #ffffff;
  --tab-font-color: #ffffff;
  --tab-background-color: #333333;
  --bar-background-color: #4e4d4d;
  --bar-font-color: #ffffff;
  --bar-shadow: rgba(0, 0, 0, 0.3);
  --bar-item-shadow: rgba(0, 0, 0, 0.8);
  --topten-item-font-color: #ffffff;
  --topten-icon-background: #ffffff;
  --topten-icon-border: #2c3e50;
  --topten-icon-font-color: #4e4d4d;
  --topten-item-shadow: rgba(0, 0, 0, 0.8);
  --topten-icon-border-shine: #ffffff;

  --theme-color-1: #e8c37e;
  --theme-color-2: #2c3e50;
  --theme-color-3: #c839a5;
  --theme-color-4: #09ac6e;
  --theme-color-5: #f663ad;

  --discover-selected-artist-color: #00ffdd;
  --discover-item-font-color: #ffffff;
  --discover-item-shadow: rgba(0, 0, 0, 0.8);
}

body {
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.Header {
  padding-bottom: 50px;
  text-align: center;
}

.Header__logo {
  margin: 0 10%;
  max-width: 750px;
}

.Header__title {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 5em;
  margin-bottom: 0;
}

.Header__intro {
  font-size: 1.5em;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login__button {
  border: 1px solid var(--font-color);
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 2em;
  height: 75px;
  margin: 50px 0;

  /* TODO: cleanup transition */
  transition: all 500ms;
  transition-timing-function: ease-in-out;
}

.Login__button:hover {
  color: var(--font-color-hover);
  /* TODO: change this */
  background: var(--font-color);

  /* TODO: cleanup transition */
  transition: all 500ms;
  transition-timing-function: ease-in-out;
}

.Login__intro {
  margin: 0;
}

.Spinner {
  /* TODO: replace with svg */
  font-size: 3em;
  display: flex;
  justify-content: center;
}

.User {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.User__avatar {
  clip-path: circle(100px at center);
  align-self: center;
}

.User__intro {
  margin: 50px 15% 0 15%;
  text-align: center;
}

.Tabs__active-content {
  max-width: 750px;
  margin: 0 auto;
}

.Tabs__list {
  list-style-type: none;
  text-align: center;
  margin-bottom: 50px;
  white-space: nowrap;
  padding: 0;
}

.Tab {
  display: inline;
  margin: 0 5px;
  font-size: 1.5em;
}

.Tab__link {
  cursor: pointer;

  display: inline-block;
  position: relative;
  color: var(--tab-background-color);
  text-decoration: none;
  padding: 0.2em;
}

.Tab__link:hover {
  color: var(--tab-font-color);
  border-bottom: 2px solid var(--tab-background-color);
}

.Tab__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--tab-background-color);
  z-index: -1;
  transition: all 0.1s cubic-bezier(0, 0.59, 1, 0.26);
}

.Tab__link:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--tab-background-color);
  z-index: -1;
}

.Tab__link.active {
  border-bottom: 2px solid var(--tab-background-color);
  color: var(--tab-font-color);
}

.Tab__link.active::after {
  background: var(--tab-background-color);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.Dashboard {
  margin: 0 10%;
}

.FavouriteSong__intro,
.FavouriteSong__song,
.FavouriteSong__artist {
  text-align: center;
}

.AudioFeatures {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 50px;
}

.AudioFeature {
  justify-items: begin;
  padding: 25px 0;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  text-transform: capitalize;
}

.AudioFeature__title,
.AudioFeature__value {
  display: inline;
}

.AudioFeature__value {
  padding-left: 10px;
  font-weight: 400;
}

.AudioFeature__img {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 150px;
  margin: 0 auto;
  justify-self: end;
}

.AudioFeature__img svg {
  width: 150px;
}

.Bar {
  width: 100%;
  background: var(--bar-background-color);
  color: var(--bar-font-color);
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 15px 25px var(--bar-shadow);
}

.Bar__item {
  display: flex;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 15px 25px var(--bar-item-shadow);
}

.Bar:hover .Bar__item {
  animation: pulse 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.AppearTransition-appear {
  opacity: 0.01;
  transform: translateX(-100px);
}

.AppearTransition-appear.AppearTransition-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 750ms ease-out;
}

.GraphTransition-appear {
  opacity: 0.1;
  transform: scale(0.1);
}

.GraphTransition-appear.GraphTransition-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: all 750ms ease-out;
}

.Bar__value {
  align-self: center;
  padding-left: 15px;
  font-weight: 800;
}

.TopTen__title {
  display: none;
}

.TopTen__sub-title,
.Discover__title,
.FavouriteSong__intro {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
}

.TopTen__list {
  counter-reset: top-ten-list;
  display: inline-block;
  margin-left: -3.4em;
  vertical-align: middle;
  position: relative;
  list-style-type: none;
}

.TopTen__item {
  counter-increment: top-ten-list;
  margin: 1em 0;
  position: relative;
  width: 100%;
  color: var(--topten-item-font-color);
}

.TopTen__item:hover {
  animation: pulse 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  animation-delay: 200ms;
}

.TopTen__item::before {
  content: counter(top-ten-list, decimal-leading-zero);
  background: var(--topten-icon-background);
  border: 10px solid var(--topten-icon-border);
  border-radius: 50%;
  color: var(--topten-icon-font-color);
  display: inline-block;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 2.6em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 2.6em;
  z-index: 2;
  box-shadow: 0 0 0 3px var(--topten-icon-border-shine);
  animation: spinner 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s 1;
  animation-delay: 200ms;
}

@keyframes spinner {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.TopTen__item > span {
  border-radius: 4px;
  display: inline-block;
  position: relative;
  line-height: 2em;
  margin: 0 0 0 -2em;
  padding: 1.2em 2em 1.2em 3em;
  vertical-align: middle;
}

.TopTen__item > span::after {
  background: transparent;
  content: "";
  position: absolute;
  top: 24%;
  right: 2%;
  width: 50%;
  height: 50%;
  max-width: 300px;
  z-index: -1;
  box-shadow: 0 15px 25px var(--topten-item-shadow);
  transform: rotate(1deg);
}

.TopTen__item:nth-child(5n + 1) > span {
  background: var(--theme-color-1);
}
.TopTen__item:nth-child(5n + 3) > span {
  background: var(--theme-color-2);
}

.TopTen__item:nth-child(5n + 2) > span {
  background: var(--theme-color-3);
}

.TopTen__item:nth-child(5n + 4) > span {
  background: var(--theme-color-4);
}

.TopTen__item:nth-child(5n + 5) > span {
  background: var(--theme-color-5);
}

.Discover__list {
  list-style-type: none;
  position: relative;
  height: 100vh;
}

.Discover__item__container {
  text-align: center;
  color: var(--discover-item-font-color);
  box-shadow: 0 15px 25px var(--discover-item-shadow);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Discover__item {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.Discover__item__container:hover {
  animation: pulse 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  animation-delay: 200ms;
}

.Discover__item:nth-child(5n + 1) .Discover__item__container {
  background: var(--theme-color-1);
}
.Discover__item:nth-child(5n + 3) .Discover__item__container {
  background: var(--theme-color-2);
}

.Discover__item:nth-child(5n + 2) .Discover__item__container {
  background: var(--theme-color-3);
}

.Discover__item:nth-child(5n + 4) .Discover__item__container {
  background: var(--theme-color-4);
}

.Discover__item:nth-child(5n + 5) .Discover__item__container {
  background: var(--theme-color-5);
}

.Discover__item--selected .Discover__item__container {
  background: var(--discover-selected-artist-color) !important;
}

/******************
 * SVG Animations
*******************/

.eyes {
  width: 100px;
}

.eyes .eye-dot {
  animation: eye 1.25s cubic-bezier(0.2, 0.01, 0.01, 1.46) -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes eye {
  0% {
    transform: scale(1) translateX(0);
  }
  30% {
    transform: scale(1.1) translateX(7px);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}

.sad .tear {
  animation: sad 1.5s ease-in -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes sad {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  40% {
    opacity: 0;
    transform: translate(-5px, -5px) scale(0.1);
  }

  100% {
    transform: translateY(-19px) scale(0);
    opacity: 0.1;
  }
}

.cloud .cloud-top {
  animation: cloud-top 1.5s ease-in-out -0.4s infinite;
  animation-delay: 200ms;
}

.cloud .cloud-bottom {
  animation: cloud-bottom 1.5s ease-in-out -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes cloud-top {
  from {
    transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(1.1) rotate(5deg);
  }
  to {
    transform: scale(1) rotate(0);
  }
}

@keyframes cloud-bottom {
  from {
    transform: scale(1) rotate(0);
  }
  60% {
    transform: scale(0.9) rotate(-3deg);
  }
  to {
    transform: scale(1) rotate(0);
  }
}

.headphones .ear-pad,
.headphones .headband {
  animation: headphones 0.5s ease-in-out -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes headphones {
  from {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.headphones .note {
  animation: notes 0.5s ease-in-out -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes notes {
  from {
    transform: scale(1);
  }

  30% {
    transform: rotate(5deg);
  }

  60% {
    transform: scale(0.9);
  }

  90% {
    transform: rotate(-5deg);
  }

  to {
    transform: scale(1);
  }
}

.thunder .body {
  animation: thunder 0.7s -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes thunder {
  10% {
    transform: scale(0) translate(0, 50px) rotate(0);
  }

  35% {
    transform: scale(0.7) translate(0, 0) rotate(5deg);
  }
}

.bunny .tail {
  animation: bunny-tail ease-in-out 0.7s -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes bunny-tail {
  10% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-15deg);
  }

  40% {
    transform: rotate(0);
  }

  55% {
    transform: rotate(-7deg);
  }
}

.bunny .nose {
  animation: bunny-nose ease-in-out 0.7s -0.4s infinite;
  animation-delay: 500ms;
}

@keyframes bunny-nose {
  10% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(0);
  }

  55% {
    transform: rotate(-15deg);
  }
}

.bunny .ear {
  animation: bunny-ear ease-in-out 0.7s -0.4s infinite;
  animation-delay: 500ms;
}

@keyframes bunny-ear {
  60% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(-5deg);
  }

  85% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-3deg);
  }
}

.dancer .arms,
.dancer .hand {
  animation: dancer-main ease-in-out 0.7s -0.4s infinite;
  animation-delay: 500ms;
}

@keyframes dancer-main {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(0);
  }
}

.dancer .shoes,
.dancer .leg {
  animation: dancer-shoes ease-in-out 0.7s -0.4s infinite;
  animation-delay: 500ms;
}

@keyframes dancer-shoes {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(0);
  }
}

.robot .eye-inner {
  animation: robot-eyes ease-in-out 0.7s -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes robot-eyes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.robot .headphone-band {
  animation: robot-headphones ease-in-out 1.5s -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes robot-headphones {
  50% {
    fill: #c839a5;
  }
  75% {
    fill: #09ac6e;
  }
}

.guitar .pickup,
.guitar .body {
  animation: guitar-pickup ease-in-out 0.5s -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes guitar-pickup {
  from {
    transform: scale(0.95);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(0.95);
  }
}

.sunglasses .body {
  animation: sunglasses ease-in-out 0.5s -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes sunglasses {
  from {
    transform: scale(0.95) rotate(0);
  }
  50% {
    transform: scale(0.9) rotate(3deg);
  }
  to {
    transform: scale(0.95);
  }
}

.microphone .head,
.microphone .head-band {
  animation: microphone ease-in-out 0.5s -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes microphone {
  from {
    transform: scale(0.95) rotate(0);
  }
  50% {
    transform: scale(1.1) rotate(3deg);
  }
  to {
    transform: scale(0.95);
  }
}

.microphone .note {
  animation: microphone-notes 0.5s ease-in-out -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes microphone-notes {
  from {
    transform: scale(1);
  }

  30% {
    transform: rotate(5deg);
  }

  60% {
    transform: scale(0.9);
  }

  90% {
    transform: rotate(-5deg);
  }

  to {
    transform: scale(1);
  }
}

.sun .rays,
.sun .eye {
  animation: sun-rays 1s ease-in-out -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes sun-rays {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(0.955) translateY(1%);
  }

  to {
    transform: scale(1);
  }
}

.sun .mouth {
  animation: sun-mouth 1s ease-in-out -0.4s infinite;
  animation-delay: 200ms;
}

@keyframes sun-mouth {
  10% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.2);
  }

  90% {
    transform: scale(1);
  }
}
